/* Breakpoints */
$bp-xs: 320;
$bp-sm: 480;
$bp-md: 768;
$bp-lg: 1024;
$bp-xl: 1280;
$bp-ws: 1600;
$max-inner-width: 1170;

/* Colors */
$grey-light: #edf0f1;

/* Fonts */
$base-font-size: 16;

/* Media queries */
$sm: '(min-width: #{rem($bp-sm)})';
$md: '(min-width: #{rem($bp-md)})';
$lg: '(min-width: #{rem($bp-lg)})';
$xl: '(min-width: #{rem($bp-xl)})';
$ws: '(min-width: #{rem($bp-ws)})';

$only-xs: '(max-width: #{rem(($bp-sm - 1))})';
$only-sm: '(min-width: #{rem($bp-sm)}) and (max-width: #{rem(($bp-md - 1))})';
$only-md: '(min-width: #{rem($bp-md)}) and (max-width: #{rem(($bp-lg - 1))})';
$only-lg: '(min-width: #{rem($bp-lg)}) and (max-width: #{rem(($bp-xl - 1))})';
$only-xl: '(min-width: #{rem($bp-xl)}) and (max-width: #{rem(($bp-ws - 1))})';

$up-to-sm: '(max-width: #{rem(($bp-sm - 1))})';
$up-to-md: '(max-width: #{rem(($bp-md - 1))})';
$up-to-lg: '(max-width: #{rem(($bp-lg - 1))})';
$up-to-xl: '(max-width: #{rem(($bp-xl - 1))})';
$up-to-ws: '(max-width: #{rem(($bp-ws - 1))})';

@media #{$sm} {}
@media #{$md} {}
@media #{$lg} {}
@media #{$xl} {}
@media #{$ws} {}
@media #{$only-xs} {}
@media #{$only-sm} {}
@media #{$only-md} {}
@media #{$only-lg} {}
@media #{$only-xl} {}
@media #{$up-to-sm} {}
@media #{$up-to-md} {}
@media #{$up-to-lg} {}
@media #{$up-to-xl} {}
@media #{$up-to-ws} {}

/* Transitions */
$very-fast: 0.15s;
$fast: 0.25s;
$medium: 0.4s;
$slow: 0.8s;
$very-slow: 1.5s;

$ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

/* Z-index */

$zi-layer-under: -1;
$zi-layer-1: 2;
$zi-layer-2: 3;
$zi-layer-3: 4;
$zi-menu: 5;
$zi-menu-2: 6;
$zi-dropdown: 9;
$zi-popup: 10;
$zi-select: 11;
